.container{
    background-color: #333740;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.grid{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 55px;
    
}
